<launch>
      <arg name="p_spombinho/model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    
    <arg name="x_pos" default="-0.4"/>
    <arg name="y_pos" default="-1.5"/>
    <arg name="z_pos" default="0.0"/>
    
    <param name="p_spombinho/robot_description" command="$(find xacro)/xacro --inorder $(find p_spombinho_description)/urdf/p_spombinho.urdf.xacro" />
    
    
  <include file="$(find p_spombinho_bringup)/launch/spawn.launch">
    <arg name="x_pos" value="$(arg x_pos)" />
    <arg name="y_pos" value="$(arg y_pos)" />
    <arg name="z_pos" value="$(arg z_pos)" />
</include>

</launch>
