<launch>

  <arg player_name="p_spombinho"/>
  <arg name="x_pos"/> 
  <arg name="y_pos"/> 
  <arg name="z_pos"/> 

  <group ns= "$(arg player_name)">
    <param name="tf_prefix" value="$(arg player_name)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param p_spombinho/robot_description" />
  <group/>
</launch>
