<launch>

    <param name = "/highlight_text_color" value = "GREEN" />
    <node name="publisher_A" pkg="psr_aula9_ex1" type="publisher.py" >
        <param name="frequency" value = "1" />
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="publisher_B" pkg="psr_aula9_ex1" type="publisher.py" >
        <param name="frequency" value = "3" />
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="publisher_C" pkg="psr_aula9_ex1" type="publisher.py" >
        <param name="frequency" value = "10" />
        <remap from="chatter" to="dog2"/>
    </node>

    <node name="subscriber_AB1" pkg="psr_aula9_ex1" type="subscriber.py" >
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="subscriber_AB2" pkg="psr_aula9_ex1" type="subscriber.py" >
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="subscriber_C" pkg="psr_aula9_ex1" type="subscriber.py" >
        <remap from="chatter" to="dog2"/>
    </node>

<!--     <node name="subscriber_D" pkg="psr_aula9_ex1" type="subscriber_dual.py" output="screen"> -->
<!--         <remap from="chatter" to="dog2"/> -->
<!--         <remap from="chatter2" to="dog1"/> -->
<!--     </node> -->

</launch>
